@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playwrite+CO+Guides&display=swap");

:root {
  --color-background: hsl(212, 45%, 89%);
  --color-card-background: hsl(0, 0%, 100%);
  --color-card-title: hsl(218, 44%, 22%);
  --color-card-paragraph: hsl(216, 15%, 48%);
  --font-primary: Outfit, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: var(--font-primary);
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  flex: 1;
}

.qr-card img {
  width: 100%;
  border-radius: 2rem;
  padding: 1rem;
}

.qr-card {
  background-color: var(--color-card-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  border-radius: 1.5rem;
}

.qr-card h2,
.qr-card p {
  text-align: center;
  padding: 0 3rem;
  margin: 0 0 1rem 0;
}

.qr-card h2 {
  color: var(--color-card-title);
  font-size: 1.5rem;
}

.qr-card p {
  color: var(--color-card-paragraph);
  margin-bottom: 3rem;
}

.attribution {
  font-size: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  transition: color 0.3s ease;
}

.attribution a:is(:hover, :focus-within) {
  color: hsl(0, 92%, 20%);
}
